@media (max-width: 768px) {

li {
font-size: 17px;
font-weight: bold;
margin-bottom: 10px; /* Adjust margin between list items */
line-height: 2.0; /* Adjust line height for better readability */
/* Add any additional styles as needed */
}

}

@media (max-width: 768px) {

    .hand-drawn-text {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
.gradient-text {
    font-size: 2.5rem;
}
}

@media (max-width: 768px) {
.neon-text {
    font-size: 2.5rem;
}
}

@media (max-width: 768px) {
.neon-text1 {
    font-size: 2.5rem;
}
}


