.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
 .profile-pic1 {
            border-radius: 20%;
            margin-left: 90px;
             padding: 1px 0px;
             margin-top: -39px;/* Adjust as needed */
            width: 209px; /* Adjust as needed */
            height: 190px; /* Adjust as needed */
            display: block;

        }

 .profile-pic {
            border-radius: 0%;
            margin-left: 360px;
             padding: 1px 10px;
             margin-top: -150px;/* Adjust as needed */
            width: 1139px; /* Adjust as needed */
            height: 500px; /* Adjust as needed */
            display: block;

<!-- gap: 1rem;-->
<!--     animation: float 3s ease-in-out infinite;-->
        }