.home-buttons {
position: absolute;
top: 58%; /* Adjust the distance from the top */
right: 40%;
transform: translateX(-50%);
z-index: 999; /* Ensure the button is above other content */
display:block;
}

.home-buttons button {
display: inline-block;
margin: 0 10px;
padding: 13px 10px;
font-size: 22px;
background-color: #EB5406;
color: white;
border: none;
border-radius: 30px;
cursor: pointer;
transition: background-color 0.3s ease;
color: #FBF6D9;
font-weight: bold;
text-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.home-buttons button:hover {
 background-color: transparent; /* Fully transparent */
      color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold; /* Make text bold */
    text-shadow: 0 0 15px rgba(52, 152, 219, 0.8);

}